.clear {
    clear: both;
}
.hide {
    visibility: none;
}
.inlineCenter {
    text-align: center;
}
.blockCenter {
    margin-right: auto;
    margin-right: auto;
}
.box {
    border: solid black 1px;
}

.navbar {
    /* affix width fix */
    width: 100%;
    .btn {
        margin-top: 0px;
    }
}
