.clear {
  clear: both; }

.hide {
  visibility: none; }

.inlineCenter {
  text-align: center; }

.blockCenter {
  margin-right: auto;
  margin-right: auto; }

.box {
  border: solid black 1px; }

.navbar {
  /* affix width fix */
  width: 100%; }
  .navbar .btn {
    margin-top: 0px; }

.bio > img {
  padding-right: 10px;
  min-width: 150px;
  max-width: 275px;
  max-height: 275px; }

.mp-row {
  padding-bottom: 10px; }

#introCarousel, #liveTweets {
  min-width:1000px;
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
}

.carousel-container {
  height:500px;
  width:100%;
  overflow:hidden;
}

.carousel-container img {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-width:100%;
}

.carousel-caption {
  color:#eee;
}

#tweetWall {
  height:200px;
  overflow-y:auto;
}

/* .carousel-control { */
/*   visibility:hidden; */
/* } */

/* .carousel-control a:hover { */
/*   visibility:visible; */
/* } */