.clear {
  clear: both; }

.hide {
  visibility: none; }

.inlineCenter {
  text-align: center; }

.blockCenter {
  margin-right: auto;
  margin-right: auto; }

.box {
  border: solid black 1px; }

.navbar {
  /* affix width fix */
  width: 100%; }
  .navbar .btn {
    margin-top: 0px; }

.bio > img {
  padding-right: 10px;
  min-width: 150px;
  max-width: 275px;
  max-height: 275px; }

.mp-row {
  padding-bottom: 10px; }

#introCarousel {
  min-width: 800px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

#liveTweets.front {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }

#liveTweets.dash {
  margin-left: auto;
  margin-right: auto; }

#tweetWall {
  height: 300px;
  overflow-y: auto; }

.carousel-container {
  height: 450px;
  width: 100%;
  overflow: hidden; }

.carousel-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%; }

.carousel-caption {
  color: #eee; }
  .carousel-caption a, .carousel-caption a:hover, .carousel-caption a:visited {
    color: #eee; }

.modal-header {
  padding: 9px 15px 0px; }

.modal-body p {
  font-size: 15px; }

.positive {
  color: green; }

.negative {
  color: red; }

/* .carousel-control { */
/*   visibility:hidden; */
/* } */

/* .carousel-control a:hover { */
/*   visibility:visible; */
/* } */
