{% extends "base.html" %}
{% block title %}About{% endblock %}
<div>
  <p> About us </p>
</div>
<div>
  <p>
    The Team > Most of our team is based in San Francisco - we met each other at a "Science Hack Day" event we built an #electionbot.  Included in the group are several UC Berkeley CS students and a few other folks from the technology sector and public service (both US and UK based);
  </p>
  
  <p>
    Ryan Anderson > Ryan is Technical Director at SFO-based Connect Solutions; He dabbles in data analytics and ML, builds robots in his garage, and likes fiddling with technology to see what new things it can do. 
  </p>
  <a href="www.linkedin.com/in/ryananderson/">Ryan's LinkedIn</a>

  <p> 
    Brian Hou > Brian is an undergraduate student at UC Berkeley, and pursuing a degree in computer science. He is also interested in psychology and teaching . and keen to code things that ordinary people will use. 
  </p>
  <a href="www.linkedin.com/pub/brian-hou/4a/4a0/942">Brian's LinkedIn</a>
  
  <p>
    Shreyas Chand > : Shreyas is an undergraduate CS major at UC Berkeley with a background in programming in Java, C/C++ and Python.
  </p>
  <a href="www.linkedin.com/in/shreyaschand">Shreyas's LinkedIn</a>
  
  <p>
    Marvin Zhang > Marvin is a first year computer science and music student at UC Berkeley. He spends most of his time learning about CS, running, and playing violin.
  </p>
  <a href="www.linkedin.com/pub/marvin-zhang/65/222/260/">Marvin's LinkedIn</a>
  
  <p>
    Derek Leung > Derek is an undergraduate at Berkeley, intending to major in CS and Math. He enjoys playing around with computer code.
  </p>
</div>
{% block content %}
{% endblock %}

