{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
{% load staticfiles %}
<img style="margin-right: 10px; height: 3em" class="pull-left" src="{% static "img/logo.png" %}">
<h3 style="margin:0 0 10px">What is the Political Intelligence Engine?</h3>
<p>The Political Intelligence Engine is an exploratory project that seeks to build an engine that will aggregate domain-specific information (in this case, UK Politics) in one place, and deliver meaningful insight and value to users who are passionate about the domain.</p>
<p>If you have an interest in UK politics, we're not a bad place to start. You can drill down and learn more about a certain MP, Lord, or Media person who is active in politics. Soon, you will also be able to drill down by issue.</p>
<p>At the moment, much of the data comes from Twitter, but we plan to expand to include many other public data sources. We don’t control the data sources and we have been known to make a mistake now and then, so please enjoy your PIE with care! </p>

<p>With PIE, everyone can have a slice of the action. Would you like a slice?<br>
  You can email questions, comments or input on new features to us at <a href="mailto:pie.pulse@gmail.com">pie.pulse@gmail.com</a> or follow us at <a href="https://twitter.com/PIE_Politics">@PIE_Politics</a> (<a href="https://twitter.com/search/realtime?q=%23politicalintelligenceengine&src=hash" target="_blank">#politicalintelligenceengine</a> <a href="https://twitter.com/search/realtime?q=%23ukpie&src=hash" target="_blank">#ukpie</a>).</p>
 </div>
</div>
{% endblock %}
