{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="row-fluid">
  <p class="lead">The Team</p>
  <p> Most of our team is based in San Francisco - we met each other at a "Science Hack Day" event, where we built an #electionbot.  Included in the group are several UC Berkeley CS students and a few other folks from the technology and public service sectors (both US and UK based).</p>
</div>

<div class="row-fluid" style="padding-top:24px">
  <div class="well span2">
    <p class="lead"><a href="http://www.linkedin.com/in/ryananderson/">Ryan Anderson</a></p>
    <p>Ryan is Technical Director at SF-based Connect Solutions; he dabbles in data analytics and ML, builds robots in his garage, and likes fiddling with technology to see what new things it can do.</p>
  </div>

  <div class="well span2">
    <p class="lead"><a href="http://www.brianhou.com">Brian Hou</a></p>
    <p>Brian is currently an undergraduate at UC Berkeley, where he is pursuing a degree in computer science. He likes to code things that ordinary people will use.</p>
  </div>

  <div class="well span2">
    <p class="lead"><a href="http://www.shreyaschand.com">Shreyas Chand</a></p>
    <p>Shreyas is an undergraduate CS major at UC Berkeley with a background in programming in Java, C/C++ and Python.</p>
  </div>

  <div class="well span2">
    <p class="lead"><a href="http://www.marvinzhang.com">Marvin Zhang</a></p>
    <p>Marvin is an undergraduate computer science and music student at UC Berkeley. He spends most of his time learning about CS, running, and playing violin.</p>
  </div>

  <div class="well span2">
    <p class="lead"><a href="http://lmgtfy.com/?q=derek+leung">Derek Leung</a></p>
    <p>Derek is an undergraduate at Berkeley, intending to major in CS and Math. He enjoys playing around with computer code.</p>
  </div>
</div>
{% endblock %}
