{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div id="comingsoon" class="modal hide fade" tabindex="-1">
  <h2 class="inlineCenter">Dashboard coming soon!</h2>
</div>

<div id="hot-topics" class="row-fluid">
  <div id="trending" class="span6 well">
    <p class="lead">Trending Issues</p>
    <p>What's everyone talking about? What new issue is getting picked up?</p>
  </div>
  <div id="intense" class="span6 well">
    <p class="lead">Intense Issues</p>
    <p>Which politicos are popular? Which issues are getting positive reactions?</p>
  </div>
</div>
<div id="mytopics" class="row-fluid">
  <div id="myslice" class="span6 well">
    <p class="lead">My Slice</p>
    <p>Politicos and issues I'm watching</p>
  </div>
  <div id="pieanalytics" class="span6 well">
    <p class="lead">PIE Analytics</p>
    <p></p>
  </div>
</div>
<div class="well">
  <p>
    <span class="lead">Live MP Twitter Feed</span>
    <span class="pull-right">Last Refreshed: <span id="tweetWall-lastRefresh" class="muted">moments ago</span></span>
  </p>
  <div id="tweetWall">
  </div>
</div>

{% endblock %}

{% block endbody %}
<script>
    if (!($.cookie('comingsoon_shown'))) {
        $('#comingsoon').modal();
        $('#comingsoon').on('shown', $.cookie('comingsoon_shown', 'true'));
    }

    var tweetWall_lastRefresh;
    $(document).ready(function() {
        fetchTweets();
        setInterval(fetchTweets, 30 * 1000);
        setInterval(updateRefreshTime, 5 * 1000);
    });
</script>
{% endblock %}
