{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="beta" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 class="inlineCenter">PIE is currently in beta!</h2>
  </div>
  <div class="modal-body">
    <p class="muted inlineCenter">Our site is active, but we're still perfecting our recipe.</p>
    <p>Hello! If you're reading this, then you're probably a trusted friend or someone from whom we'd like to get feedback. Welcome!</p>
    <p>What do you think about PIE? What do you like and what can we improve on? If you had a magic wand and could add one feature to our site, what would it be?</p>
    <p>Send us your thoughts at <a href="mailto:pie.pulse@gmail.com">pie.pulse@gmail.com</a>. Thank you!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="introCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#introCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#introCarousel" data-slide-to="1"></li>
    <li data-target="#introCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item carousel-container">
      <img src="http://1.bp.blogspot.com/_sTljLpxaeTE/TExog5IfQFI/AAAAAAAAABM/owk3gSJbAKE/s1600/Blueberry+Pie+from+Baked+Perfection+2.jpg">
      <div class="carousel-caption">
        <h1>Welcome! Would you like a slice of PIE?</h1>
        <p class="lead">The Political Intelligence Engine is an exploratory project that seeks to build an engine that will aggregate domain-specific information (in this case, UK Politics) in one place, and deliver meaningful insight and value to users who are passionate about the domain. Read more about us <a href="/about/">here</a>!</p>
      </div>
    </div>
    <div class="item carousel-container">
      <img src="http://www.thetimes.co.uk/tto/multimedia/archive/00250/David_Cameron_-_50p_250614a.jpg" alt="">
      <div class="carousel-caption">
          <h1>#1 Most Popular MP: <a href="/politicos/mp/David_Cameron/">David Cameron</a></h1>
        <p class="lead">David Cameron represents Witney as its Member of Parliament. He is the leader of the Conservative Party.</p>
      </div>
    </div>
    <div class="item carousel-container">
      <img src="https://s3.amazonaws.com/piengine/mp/nick_clegg.jpg" alt="Nick Clegg">
      <div class="carousel-caption">
          <h1>#2 Most Popular MP: <a href="/politicos/mp/Nick_Clegg/">Nick Clegg</a></h1>
        <p class="lead">Nick Clegg represents Sheffield Hallam. He is the leader of the Liberal Democrats.</p>
      </div>
    </div>
  </div>

  <a class="carousel-control left" href="#introCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#introCarousel" data-slide="next">&rsaquo;</a>
</div>
<div id="liveTweets" class="front well">
    <p>
        <span class="lead">Live MP Twitter Feed</span>
        <span class="pull-right">Last Refreshed: <span id="tweetWall-lastRefresh" class="muted">moments ago</span></span>
    </p>
    <div id="tweetWall">
    </div>
</div>

{% endblock %}

{% block endbody %}
<script>
    if (!($.cookie('beta_shown'))) {
        $('#beta').modal();
        $('#beta').on('shown', $.cookie('beta_shown', 'true'));
    }

    $('#introCarousel').carousel();

    var tweetWall_lastRefresh;
    $(document).ready(function() {
        fetchTweets();
        setInterval(fetchTweets, 30 * 1000);
        setInterval(updateRefreshTime, 5 * 1000);
    });
</script>
{% endblock %}
