{% extends "base.html" %}
{% block title %}MP: {{ name }}{% endblock %}
{% block content %}
<div class="bio">
    <img class="pull-left" src="{{ image_url }}"/>
    <p>
        {{ name }}<br/>
        {{ constituency }} <br/>
        {{ party }} <br/>
    </p>
    <div class="clear"></div>
</div>
<div class="well">
    <p ><span class="lead">Latest Tweets </span>(From <a href="https://twitter.com/{{ twitter_handle }}" target="_blank">{{ twitter_handle }}</a>):</p>
    {% for tweet in tweets %}
    <p><i class="icon-chevron-right"></i>{{ tweet }}</p>
    {% endfor %}
</div>
{% endblock %}




