{% extends "base.html" %}
{% block title %}MP: {{ name }}{% endblock %}
{% block content %}
<div class="row-fluid mp-row">
    <div class="span6 bio">
        <img class="pull-left" src="{{ image_url }}"/>
        <p>
            <span class="lead">{{ name }}</span><br/>
            {{ constituency }} <br/>
            {{ party }} <br/>
        </p>
        <div class="clear"></div>
    </div>
    <div class="span6 top-tweets well">
        <p class="lead">Top Issues for {{ name }}:</p>
	<p>Coming soon!</p>
    </div>
</div>
<div class="row-fluid mp-row">
    <div class="well span6">
        <p><span class="lead">Latest Twitter Mentions </span>(Tweeted at <a href="https://twitter.com/{{ twitter_handle }}" target="_blank">{{ twitter_handle }}</a>):</p>
        {% for tweet in tweets_at_them %}
            <p><i class="icon-chevron-right"></i>{{ tweet|safe}}</p>
        {% endfor %}
    </div>
    <div class="well span6">
        <p><span class="lead">Latest Tweets </span>(About <a href="https://twitter.com/{{ twitter_handle }}" target="_blank">{{ twitter_handle }}</a>):</p>
        {% for tweet in tweets_by_them %}
            <p><i class="icon-chevron-right"></i>{{ tweet|safe}}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}




